{{ define "main" }}
<div class="mx-auto flex max-w-screen-xl local-privacy-single" data-local-layout="privacy">
  <article class="flex min-h-[calc(100vh-var(--navbar-height))] w-full min-w-0 justify-center break-words pb-8">
    <main class="w-full min-w-0 max-w-4xl px-6 pt-4 md:px-12">
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100" data-pagefind-meta="title">{{ .Title }}</h1>

      <div class="prose prose-slate mt-10 max-w-none dark:prose-invert" data-pagefind-body>{{ .Content }}</div>

      {{ if (.Params.show_date_updated | default true) | and .Lastmod }}
        <time class="mt-12 mb-8 block text-xs text-gray-500 ltr:text-right rtl:text-left dark:text-gray-400" datetime="{{ .Lastmod.UTC.Format "2006-01-02T15:04:05.000Z" }}">
          <span>Last updated on</span>
          {{ .Lastmod.Format "Jan 2, 2006" }}
        </time>
      {{ else }}
        <div class="mt-16"></div>
      {{ end }}
    </main>
  </article>
</div>
{{ end }}
